@{
    ViewBag.Title = "Über";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Hier können Sie Botschaften teilen und antworten.
    </p>

    <p>
        Melden Sie sich an.
    </p>

    <p>
        Schreiben Sie eine neue Botschaft und antworten Sie auf bestehende. Gerne auch provokante Themen.
    </p>
</article>